<h1>Ranks</h1>
<table class="table table-striped ranks">
    <thead>
        <th>Rank</th>
        <th>Name</th>
        <th>Total Badges</th>
        <th>
            <a
                ng-click="ctrl.getRanks('treeHouse')"
                class="sort" ng-class="{selected: ctrl.sortedBy == 'treeHouse'}"
            >
                <span class="glyphicon glyphicon-chevron-down sort-icon"></span>
                Threehouse badges
            </a>
        </th>
        <th>
            <a
                ng-click="ctrl.getRanks('treeHousePoints')"
                class="sort" ng-class="{selected: ctrl.sortedBy == 'treeHousePoints'}"
            >
                <span class="glyphicon glyphicon-chevron-down sort-icon"></span>
                Threehouse points
            </a>
        </th>
        <th>
            <a
                ng-click="ctrl.getRanks('codeSchool')"
                class="sort" ng-class="{selected: ctrl.sortedBy == 'codeSchool'}"
            >
                <span class="glyphicon glyphicon-chevron-down sort-icon"></span>
                Code School badges
            </a>
        </th>
        <th>
            <a
                ng-click="ctrl.getRanks('codeSchoolPoints')"
                class="sort" ng-class="{selected: ctrl.sortedBy == 'codeSchoolPoints'}"
            >
                <span class="glyphicon glyphicon-chevron-down sort-icon"></span>
                Code School points
            </a>
        </th>
        <th>
            Badges
        </th>
    </thead>
    <tbody>
        <tr ng-repeat="student in ctrl.ranks">
            <td>{{$index + 1}}</td>
            <td>
                <a ng-href="#/user/{{student.id}}">
                    {{student.name}}
                </a>
            </td>
            <td>{{student.totalBadges}}</td>
            <td>{{student.treeHouse.badges.length || 0}}</td>
            <td>{{student.treeHouse.points || 0}}</td>
            <td>{{student.codeSchool.badges.length || 0}}</td>
            <td>{{student.codeSchool.points || 0}}</td>
            <td class="badge-list">
                <img ng-repeat="badge in student.treeHouse.badges"
                    ng-src="{{badge.iconUrl}}"
                    alt="{{badge.name}}"
                    title="{{badge.name}}"
                    class="badge-thumbnail"
                />
                <img ng-repeat="badge in student.codeSchool.badges"
                    ng-src="{{badge.iconUrl}}"
                    alt="{{badge.name}}"
                    title="{{badge.name}}"
                    class="badge-thumbnail"
                />

            </td>
        </tr>
        <tr ng-if="ctrl.userStats">
            <td>You</td>
            <td>{{ctrl.userStats.name}}</td>
            <td>{{ctrl.userStats.score}}</td>
            <td>{{ctrl.userStats.totalBadges}}</td>
            <td>{{ctrl.userStats.treeHouse.badges.length || 0}}</td>
            <td>{{ctrl.userStats.codeSchool.badges.length || 0}}</td>
        </tr>
    </tbody>
</table>
